@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", Helvetica, sans-serif;
    font-weight: 500;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

:root {
    --primary-text-color: #272a2f;
    --secondary-text-color: #697384;
    --tertiary-text-color: #979fac;
    --primary-bg-color: rgb(255, 255, 255);
    --secondary-bg-color: #f8f8fb;
    --tertiary-bg-color: #e9ebf1;
    --primary-blue: #3880ff;
    --secondary-blue: #5a96ff;
    --tertiary-blue: #aec6ff;
    --primary-svg-color: invert(7%) sepia(7%) saturate(2512%) hue-rotate(178deg) brightness(97%) contrast(92%);
    --secondary-svg-color: brightness(0) saturate(100%) invert(74%) sepia(13%) saturate(227%) hue-rotate(177deg) brightness(103%) contrast(97%);
}


body {
    width: 100vw;
    height: 100vh;
    background-color: var(--main-bg-color);
    line-height: 1.6;
    overflow: hidden;
}



body.stop-transitions * {
    transition: none !important;
  }

svg path {
    pointer-events: none;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    height: clamp(40px, 6vh, 55px);
    background-color: var(--secondary-bg-color);
    padding: 0 31px;
    z-index: 3;
    border-bottom: 2px solid #f0f0f4;
}

#pageTitle {
    cursor: pointer;
    display: flex;
    align-items: center;
}

#pageTitle>* {
    pointer-events: none;
}

.logo {
    stroke: var(--primary-blue);
    width: 28px;
    height: 28px;
    stroke-width: 50px;
}

#pageTitle p {
    font-size: 1.5rem;
    font-weight: 700;
    
}

#searchAddContainer {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


#searchContainer {
    position: relative;
    background-color: var(--tertiary-bg-color);
    height: clamp(30px, 4vh, 35px);
    padding-left: 10px;
    border-radius: 5px;
    margin-right: 10px;
    transition: all ease-in-out 0.15s;
}

#searchContainer.selected {
    background-color: var(--secondary-bg-color);
    box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.13);
}

#searchContainer.selected ion-icon{
    color: var(--primary-blue);
}


#searchContainer.selected #searchBar{
    background-color: var(--secondary-bg-color);
}


#searchItemsContainer {
    display: flex;

    align-items: center;
}

#searchIcon {
    width: 25px;
    height: 25px;
    stroke: var(--secondary-text-color);
}

#searchBar {
    width: 17vw;
    min-width: 225px;
    height: clamp(30px, 4vh, 35px);
    border: none;
    padding-left: 8px;
    margin-right:10px;
    outline-width: 0;
    background-color: var(--tertiary-bg-color);
    transition: all ease-in-out 0.15s;
}

#searchBar::placeholder {
    color: var(--tertiary-text-color);
}

#searchResultsContainer {
    position: absolute;
    height: max-content;
    max-height: 300px;      
    width: calc(100% - 2px);
    margin-top: 5px;
    font-weight: 400;
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.17);
    border-radius: 5px;
    background-color: white;
    transform: translateX(-10px);
    transition: all 0.2s ease-in-out;
    z-index: 2;
    overflow-Y: scroll;
}

#searchResultsContainer::-webkit-scrollbar {
    width: 0.4rem;
}
   
#searchResultsContainer::-webkit-scrollbar-track {
    background-color: #f8f8fb;
}
   
#searchResultsContainer::-webkit-scrollbar-thumb {
    background-color: #d4d4d8;
    border-radius: 50px;
}

#searchResultsContainer .hidden {
    opacity: 0;
}

.searchResultItem {
    position: relative;
    cursor: pointer;
    padding: 5px 32px;
    border: 1.5px solid white;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}

.searchResultItem .hidden {
    pointer-events: none;
    opacity: 0;
}

.searchResultItem:hover {
    background-color: #eff2fa;
}

.searchResultItem:hover .searchResultArrow  {
    opacity: 1;
}

.searchResultCircle{
    pointer-events: none;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-75%);
    transition: opacity 0.2s ease-in-out;
}


.searchResultName {
    pointer-events: none;
    font-size: 0.9rem;
}

.searchResultDescription {
    pointer-events: none;
    font-size: 0.8rem;
    color: var(--secondary-text-color);
}

.searchResultArrow {
    pointer-events: none;
    opacity: 0;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 0.2s ease-in-out;
}

#addButtonContainer {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--tertiary-bg-color);
    border-radius: 5px;
    height: clamp(30px, 4vh, 35px);
    aspect-ratio: 1/1;
}

#addButtonContainer:hover #addButton {
    stroke: var(--primary-blue);
}

#darkModeContainer {
    cursor: pointer;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background-color: var(--tertiary-bg-color);
    border-radius: 5px;
    width: 35px;
    height: 35px;
    transition: box-shadow 0.2s ease-in-out;
    margin: 0 10px;
}

#darkModeContainer svg {
    stroke: #697384;
}

#darkModeContainer:hover svg {
    stroke: var(--primary-blue);
}



#profileContainer {
    cursor: pointer;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background-color: var(--tertiary-bg-color);
    border-radius: 5px;
    width: 35px;
    height: 35px;
    transition: box-shadow 0.2s ease-in-out;
    margin-right: 10px;
}

#profileContainer svg {
    fill: #697384;
    stroke-width: 40px;
    transition: fill 0.2s ease-in-out;
}

#profileContainer:hover svg {
    fill: var(--primary-blue);
}

#sidebarContentContainer {
    display: flex;
    position: fixed;
    height: 100vh;
    width: 100vw;
}

#contentContainer {
    position: relative;
    left: 0;
    top:0;
    padding-top: clamp(10px, 5vh, 45px);
    height: calc(100vh - 100px);
    width: calc(88vw - 20px);
    display: flex;
    overflow-y: scroll;
    overflow-x: hidden;
}

#contentContainer::-webkit-scrollbar {
    width: 10px;
}
   
#contentContainer::-webkit-scrollbar-track {
    background-color: #f8f8fb;
}
   
#contentContainer::-webkit-scrollbar-thumb {
    background-color: #d4d4d8;
    border-radius: 5px;
    animation: fadeInScrollBar 0.3s ease-in-out;
}

#sidebar {
    position: sticky;
    font-size: clamp(13px, 3vw, 16px);
    height: calc(100vh - 100px);
    width: 12vw;
    /*min-width: max-content;*/
    padding: clamp(10px, 5vh, 45px) 10px 0px clamp(10px, 1vw, 20px);
    color: var(--secondary-text-color);
    background-color: var(--secondary-bg-color);
    z-index: 2;
    white-space: nowrap;
    border-right: 2px solid #f0f0f4;
}


#sidebar svg {
    margin: 0 1rem 0 15px;
    font-size: 1.5rem;
    stroke: var(--secondary-text-color);
}

#sidebarHome ion-icon {
    pointer-events: none;
}

#sidebarShortcuts {
    transition: all ease-in-out 0.2s;
}

#sidebarShortcuts.close {
    opacity: 0;
    pointer-events: none;
}

#sidebarShortcuts ion-icon {
    pointer-events: none;
}

#sidebarShortcutsToday svg {
    pointer-events: none;
    margin-left: 15px;
}

#sidebarShortcutsWeek p {
    width: 0;
    margin-right: 0;
}

.todayIconNumber {
    font-weight: 600;
}


.sidebarTabsContainer {
    margin-top: 0.25rem;
}

.sidebarTab {
    cursor:pointer;
    display: flex;
    align-items: center;
    width: 100%;
    border: none;
    padding: 8px 0 8px 0;
    transform: translateX(-1px);
    border-radius: 5px;
}

.sidebarTab::after {
    content: '';
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.12);
    opacity: 0;
    transition: all 0.4s ease;
}



.sidebarTab:hover {
    color: var(--primary-text-color);
}

.sidebarTab:hover::after {
    opacity: 1;
}

.sidebarTab.viewing {
    color: var(--primary-text-color);
    background-color: var(--tertiary-bg-color);

}

.sidebarTab p {
    pointer-events: none;
    margin-right: max(3.5vw, 40px);
    transition: 0.3s ease;
}

.sidebarTab.viewing p{
    font-weight: 600;
}

.sidebarTab.viewing:hover::after {
    opacity: 0;
}

.sidebarTab.viewing ion-icon {
    color: var(--primary-blue)
}

.sidebarTab.viewing svg {
    filter: sepia(100%) saturate(400%) hue-rotate(185deg) brightness(90%) contrast(100%)
}

.sidebarArrow {
    color: var(--secondary-text-color);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.sidebarArrow:hover {
    color: var(--primary-text-color);
}


.sidebarArrow.close {
    transform: rotate(-90deg);
}

.sidebarCount {
    position: fixed;
    font-weight: 400;
    font-size: clamp(10px, 1vw, 13px);
    right: 10px;
}

.sidebarTab.viewing .sidebarCount {
    color: var(--secondary-text-color);
}

.sidebarTitle {
    display: flex;
    align-items: center;
    font-weight: 700;
    margin-top: 20px;
    color: var(--primary-text-color);
    transform: translateX(-1px);
}


/* TASKS CONTAINER */

.tasksContainer {
    height: max-content;
    width: 25vw;
    padding-bottom: 25px;
}

.tasksTitle {
    width: auto;
    font-size: clamp(20px, 1.6vw, 30px);
    font-weight: 700;
    margin-bottom: 15px;
    white-space: nowrap;
    color: var(--primary-text-color);
}

@keyframes tasksContainerShiftLeft {
    0% {transform:translateX(30%)}
    50% {transform: translateX(-30%)}
}


/* SUB-GROUP */

.subGroup {
    position: relative;
}

.subGroup.empty .subGroupTitle::after {
    font-weight: 500;
    content: '-No tasks-';
    width: max-content;
    position: absolute;
    left: 15px;
    transform: translate(15px, 45px);
    animation: emptySubGroupFadeIn 0.1s ease-in-out;
}

@keyframes emptySubGroupFadeIn {
    0% { opacity: 0 }
    100% { opacity: 1 } 
}


.subGroupTitle {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: 29px;
    width: max-content;
    padding: 0px 12px;
    font-weight: 500;
    font-size: clamp(13px, 1vw, 17px);
    color: #7b8593cf;
    border-radius: 5px;
    border: 2px solid #bec7d562;
    background-color: #bec7d538;
    margin-top: 25px;
    margin-bottom: 15px;
}

.subGroupTitle.overdue {
    color: #f07070;
    background-color: #ffdbdb;
}

/* TASK CONTAINER */

.taskContainer {
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    display: grid;
    height: max-content;
    width: max(100%, 225px);
    grid-template: auto auto/40px auto 40px;
    border-radius: 5px;
    border: 2px solid #ffffff00;
}

.taskContainer::after {
    z-index: -1;
    content: '';
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    position: absolute;
    border-radius: 5px;
    box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.17);
    opacity: 0;
    transform: translate(-2px,-2px);
    transition: opacity ease-in-out 0.2s;
}

.taskContainer:hover::after {
    opacity: 1;
}

.taskContainer.dragging {
    pointer-events: none;
    border-color: var(--primary-blue);
    background-color: rgba(255, 255, 255, 0.762);
}

.taskContainer.viewing {
    border-color: var(--primary-blue);
}

.completed div{
    color: var(--tertiary-text-color);
}


.checkContainer {
    position: relative;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    padding: 5px;
    transition: all ease-in-out 0.2s;
    border-radius: 50px;
    width: 17px;
    height: 17px;
    background-color: #ffffff;
    overflow: visible;
}

.checkContainer svg {
    position: absolute;
    display: flex;
    align-self: center;
    justify-self: center;
    width: clamp(15px, 1.5vw, 20px);
    transform: translate(-3.5px,-6px);
}

.nameContainer {
    pointer-events: none;
    display: flex;
    align-items: center;
    margin: 8px 5px 8px 0;
    height: 14px;
    white-space: nowrap;
    font-weight: 500;
    font-size: clamp(12px, 1.2vw, 17px);
    color: var(--primary-text-color);
    background-image: linear-gradient(to bottom,
        #00000000 50%,
        var(--tertiary-text-color) 50%, 
        var(--tertiary-text-color) 60%,
        #00000000 60%
    );
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.4s ease, color 0.3s ease;
}

.taskContainer.completed .nameContainer {
    background-size: 100% 100%;
}

.deleteContainer {
    position: relative;
    display: flex;
    align-self: center;
    justify-self: center;
    width: clamp(14px, 1.5vw, 17px);
    height: clamp(14px, 1.5vw, 17px);
    background-color: #e9ebf1; 
    border-radius: 50px;
    opacity: 0;
    align-items: center;
    justify-content: center;
    transition: opacity ease-in-out 0.3s, background-color ease-in-out 0.2s;
}

.deleteContainer:hover {
    background-color: #e2e4ea; 
}

.deleteContainer svg {
    width: clamp(10px, 1.1vw, 20px);
}

.taskContainer.dragging .deleteContainer{
    opacity: 1;
    transition: none;
}

.taskContainer.completed .deleteContainer {
    opacity: 1;
}

.taskContainer:hover .deleteContainer{
    opacity: 1;
}

.descriptionContainer {
    pointer-events: none;
    grid-column-start: 2;
    width: auto;
    height: max-content;
    font-weight: 400;
    font-size: clamp(10px, 1.1vw, 16px);
    padding-bottom: 2.5px;
    color: var(--secondary-text-color);
    white-space: nowrap;
    overflow-X: hidden;
    transition: color 0.3s ease-in-out;
}


/* TASK VIEW */

.taskViewContainer {
    position: fixed;
    top: 100px;
    height: max(20vw,320px);
    width: calc(22vw);
    min-width: 300px;
    font-size: clamp(12px, 1vw, 16px);
    border-radius: 10px;
    box-shadow: -1px 5px 15px 0px rgba(0, 0, 0, 0.03);
    border: 2px solid #eef0f4;
    background-color: #fcfcfe;
}

.taskViewCheckContainer {
    position: absolute;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    padding: 0;
    transition: all ease-in-out 0.2s;
    border-radius: 50px;
    width: 25px;
    height: 25px;
    background-color: #ffffff;
    overflow: visible;
}

@keyframes slideOutTaskView {
    100% {
        transform: translateX(0);
        opacity: 0;
    }
}



.taskViewCheckContainer svg {
    cursor: pointer;
    transition: all ease-in-out 0.1s;
}

.taskViewNameContainer {
    line-height: 30px;
    display: flex;
    align-items: center;
    background-size: 0% 100%;
    padding: 10px 0 0 33px;
    color: var(--primary-text-color);
    border-bottom: 2px solid #eef0f4;
}

.taskViewNameContainer svg {
    display: flex;
    align-items: center;
}

.taskViewName {
    display: flex;
    align-items: center;
    font-size: clamp(17px, 1.4vw, 24px);
    font-weight: 500;
    width: max-content;
    height: 20px;
    margin: 12px 25px 12px 10px;
    border-top: 5px;
    background-image: linear-gradient(to bottom,
        #00000000 50%,
        var(--tertiary-text-color) 50%, 
        var(--tertiary-text-color) 60%,
        #00000000 60%
    );
    background-size: 0 100%;
    background-repeat: no-repeat;
    white-space: nowrap;
    transition: background-size 0.4s ease, color 0.4s ease, background-color 0.4s ease-in-out;
}

.taskViewContainer.completed .taskViewName {
    background-size: 100% 100%;
}


.taskViewDescriptionContainer {
    font-weight: 600;
    margin-top: clamp(0px,10vh,20px);
    color: var(--secondary-text-color);
    margin-left: 45px;
}

.taskViewDescription {
    display: flex;
    align-items: center;
    font-weight: 400;
    color: var(--secondary-text-color);
    margin-top: 5px;
    height: 30px;
    white-space: normal;
}

.taskViewDueDateContainer {
    font-weight: 600;
    margin-top: 20px;
    color: var(--secondary-text-color);
    margin-left: 45px;
    fill: #697384;
}

.taskViewDueDate {
    display: flex;
    align-items: center;
    font-weight: 400;
    color: var(--secondary-text-color);
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden; text-overflow: ellipsis;
}

.taskViewDueDate svg {
    padding: 0 5px 0 2px;
}

.taskViewListContainer {
    font-weight: 600;
    margin-top: 20px;
    color: var(--secondary-text-color);
    margin-left: 45px;
    fill: #697384;
}

.taskViewList {
    display: flex;
    align-items: center;
    font-weight: 400;
    width: max-content;
    color: var(--secondary-text-color);
    margin-top: 5px;
}

.taskViewList .dot {
    margin: 0 10px 0 0;
}

/* TASK FORM */

#taskFormContainer {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 3;
}

#taskForm {
    background-color: rgb(255, 255, 255);
    min-width: 450px;
    width: max-content;
    height: max-content;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    padding: 15px 15px 25px 15px;
}



#taskForm input {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 5px;
    border: none;
    outline-width: 0;
    padding: 5px 0 5px 5px;
}

#inputTaskName {
    font-size: 1.5rem;
    border-radius: 5px;
    font-weight: 700;
    color: var(--primary-text-color);
    transition: background-color ease 0.4s;
}

#inputTaskName:hover {
    background-color: #f6f6fb;
}

#inputTaskName::placeholder {
    color: #7b7f8659;
}

#inputTaskDescription {
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
    height: max-content;
    border-radius: 5px;
    resize: none;
    padding: 5px;
    border: none;
    outline-width: 0;
    color: var(--primary-text-color);
    transition: background-color ease 0.4s;
}

#inputTaskDescription::placeholder {
    color: #7b7f8659;
    font-weight: 700;
}

#inputTaskDescription:hover {
    background-color: #f6f6fb;
    
}

#inputDueDateContainer {
    display: flex;
    font-size: 0.9rem;
    align-items: center;
}

.inputDueDate {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 10px;
    color: var(--primary-text-color);
    border: none;
    border-radius: 5px;
    transition: all ease 0.4s;
}

.selected {
    background-color: #ecf0f6;
}

.inputDueDate ion-icon {
    color: var(--primary-text-color);
    font-size: 1.25rem;
    margin-right: 5px;
}

.inputDueDate:hover {
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.17);
}

.inputDueDate.selected:hover {
    box-shadow: none;
}

#inputCalendarContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 120px;
    margin: 5px;
    border-radius: 5px;
}


#inputCalendar {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
    color: var(--primary-text-color);
    border-radius: 5px;
}

#inputCalendar ion-icon {
    pointer-events: none;
    color: var(--primary-text-color);
    font-size: 1.25rem;
    margin-right: 5px;
}

#dateSelection {
    pointer-events: none;
}

#inputCalendarOptions {
    position: absolute;
    margin-top: 55px;
    padding: 10px 10px 0 10px;
    width: 200%;
    aspect-ratio: 1 / 0.8;
    font-weight: 400;
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.17);
    border-radius: 5px;
    border: 1px solid #d6d6d6;
    background-color: white;
    transform: translateX(-25%);
}
#inputCalendarContainer.selected {
    box-shadow: none;
}

#inputCalendarOptions.selected {
    opacity: 1;
    pointer-events: all;
}

#inputCalendarOptions:before {
    content:'';
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-bottom: solid 6px #d6d6d6;
    border-left: solid 7px transparent;
    border-right: solid 7px transparent;
}

#inputCalendarOptions:after {
    content:'';
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-bottom: solid 5px #ffffff;
    border-left: solid 6px transparent;
    border-right: solid 6px transparent;
}

#calendarHeader {
    display: flex;
    justify-content: space-between;
    padding: 0 5px 0px 10px;
}

#calendarMonth {
    font-weight: 600;
}

#calendarArrowContainer {
    display: flex;
    align-items: center;
}

#calendarArrowContainer ion-icon {
    cursor: pointer;
    font-size: 1.1rem;
    color: var(--secondary-text-color);
    transition: color 0.4s ease;
}

#calendarArrowContainer ion-icon:hover {
    color: var(--primary-text-color);
}

#daysOfWeek {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

#daysOfWeek div {
    color: var(--secondary-text-color);
    font-size: 0.8rem;
    overflow: hidden;
}

#calendar {
    display: grid;
    grid-template: repeat(6,auto) / repeat(7,1fr);
    width: 100%;
    height: 100%;
}

.calendarBlank {
    width: 100%;
    height: 100%;
    color: white;
}


.calendarDayPast {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--tertiary-text-color);
}

.calendarDay {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 0.8rem;
    font-weight: 400;
    transition: 0.3s ease;
    border-radius: 5px;
}

.calendarDay:hover {
    background-color: var(--secondary-bg-color);
    color: var(--primary-blue);
}

#inputListContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 110px;
    margin: 5px;
    border-radius: 5px;
    transition: all 0.4s ease;
}

#inputListContainer.selected #inputListOptions {
    pointer-events: all;
    opacity: 1;
}

#inputListContainer.selected #inputList {
    box-shadow: none;
}

#inputList {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
    color: var(--primary-text-color);
    border-radius: 5px;
    transition: all ease 0.4s;
}

#inputList .dot {
    pointer-events: none;
    margin: 0 5px 0 0 ;
}

#listSelectionName {
    pointer-events: none;
}

#inputList:hover {
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.17);
}

#inputListTextArea::placeholder {
    color: var(--secondary-text-color);
}

#inputListTextArea {
    border-bottom: 1px solid #d6d6d6 !important;
    padding-left: 5px;
    color: var(--primary-text-color);
    font-weight: 400;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#createListButton {
    position: absolute;
    cursor: pointer;
    padding-left: 10px;
    width: calc(100% - 10px);
    z-index: -1;
    overflow-x: hidden;
    white-space: nowrap;
}

#createListButton:hover {
    background-color: #ecf0f6;
}

#inputListOptions {
    position: absolute;
    margin-top: 55px;
    height: max-content;
    min-height: 60px;
    width: 150%;
    font-weight: 400;
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.17);
    border-radius: 5px;
    border: 1px solid #d6d6d6;
    background-color: white;
    transform: translateX(-14%);
}

#inputListOptions:before {
    content:'';
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-bottom: solid 6px #d6d6d6;
    border-left: solid 7px transparent;
    border-right: solid 7px transparent;
}

#inputListOptions:after {
    content:'';
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-bottom: solid 5px #ffffff;
    border-left: solid 6px transparent;
    border-right: solid 6px transparent;
}



.inputListItem {
    cursor: pointer;
    padding-left: 10px;
    background-color: white;
}

.inputListItem:hover {
    background-color: #ecf0f6;
}

.inputListItem.selected {
    background-color: #ecf0f6;
}


#taskFormAddButton {
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 500;
    background-color: #3880ff;
    color: white;
    padding: 8px 10px;
    margin-left: 5px;
    margin-top: 20px;
    transition: background-color ease 0.4s;
}

#taskFormAddButton:hover {
    background-color: #3877ff;
}

#taskFormAddButton ion-icon {
    font-size: 1.2rem;
    margin-left: 5px;
    color: white;
    transition: transform ease 0.4s;
}

#taskFormAddButton:hover ion-icon {
    transform: translateX(2.5px);
}

#sidebarListsTitle {
    height: auto;
    width: auto;
    background-color: var(--secondary-bg-color);
}

#sidebarLists {
    position: relative;
    z-index: 1;
    width: auto;
    background-color: var(--secondary-bg-color);
    transition: ease 0.4s;
}


#sidebarLists.close {
    opacity: 0;
}

.sidebarListContainer {
    display: flex;
    align-items: center;
}


.dot {
    width: 12px;
    height: 12px;
    margin: 0 22px;
    background-color: var(--primary-blue);
    border-radius: 50px;
}


#sidebarListsClose {
    position: relative;
    z-index: 2;
    width: auto;
    height: 0;
    background-color: var(--secondary-bg-color);
}






/* LOADING SCREEN */

#loadingScreen {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: white;
    z-index: 3;
    transition: 0.5s all ease-in-out;
}

#loadingScreenLogoContainer {
    display: flex;
    align-items: center;
    width: max-content;
}

#loadingScreenLogoContainer svg {
    width: 4rem;
    height: 4rem;
}

#loadingScreen p {
    font-family: 'Helvetica';
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--primary-text-color);
}

#loadingCircle {
    border: 4px solid #3881ff2f;
    border-radius: 50%;
    margin-top: 15px;
    width: 1.5rem;
    height: 1.5rem;
    border-top-color: #3880ff;
    animation: spin infinite ease-in-out 1.5s;    
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}