@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", Helvetica, sans-serif;
    font-weight: 500;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

:root {
    --text1: #272a2f;
    --text2: #697384;
    --text3: #979fac;
    --bkg1: #ffffff;
    --bkg2: #f8f8fb;
    --bkg3: #e9ebf1;
    --bkg4: #fcfcfe;
    --bkg5: #f1f3f5;
    --search: #e9ebf1;
    --circle: #272a2f;
    --check-circle: #979fac;
    --circle-variant: #e9ebf1;
    --task-drag: #ffffffbf;
    --selection: #ecf0f6;
    --shadow1: rgba(0,0,0,0.17);
    --shadow2: rgba(0,0,0,0.02);
    --shadow3: rgba(0, 0, 0, 0.045);
    --form-bkg: #eff0f680;
    --scroll: #d4d4d8;
    --blue1: #3880ff;
    --border1: #f0f0f4;
    --border2: #eef0f4;
    --border3: #bec7d562;


    --text1-dark: #d5d5e9;
    --text2-dark: #98a0b3;
    --text3-dark: #979fac;
    --bkg1-dark: #15181d;
    --bkg2-dark: #1c1e25;
    --bkg3-dark: #2a2c36;
    --bkg4-dark: #1c1e25;
    --bkg5-dark: #25272e;
    --search-dark: #15181d;
    --circle-dark: #373b43;
    --check-circle-dark: #373b43;
    --circle-variant-dark: #23242d;
    --task-drag-dark: #15181d95;
    --selection-dark: #2b303b;
    --shadow1-dark: rgba(65, 71, 91, 0.617);
    --shadow2-dark: rgba(65, 71, 91, 0.25);
    --shadow3-dark: rgba(65, 71, 91, 0.303);
    --form-bkg-dark: #15181d7b;
    --scroll-dark: #2a2c36;
    --blue1-dark: #3880ff;
    --border1-dark: #2b303b;
    --border2-dark: #2b303b;
    --border3-dark: #4c4f5562;
}

body.dark {
    --text1: var(--text1-dark);
    --text2: var(--text2-dark);
    --text3: var(--text3-dark);
    --bkg1: var(--bkg1-dark);
    --bkg2: var(--bkg2-dark);
    --bkg3: var(--bkg3-dark);
    --bkg4: var(--bkg4-dark);
    --bkg5: var(--bkg5-dark);
    --search: var(--search-dark);
    --circle: var(--circle-dark);
    --check-circle: var(--check-circle-dark);
    --circle-variant: var(--circle-variant-dark);
    --task-drag: var(--task-drag-dark);
    --selection: var(--selection-dark);
    --shadow1: var(--shadow1-dark);
    --shadow2: var(--shadow2-dark);
    --shadow3: var(--shadow3-dark);
    --form-bkg: var(--form-bkg-dark);
    --scroll: var(--scroll-dark);
    --blue1: var(--blue1-dark);
    --border1: var(--border1-dark);
    --border2: var(--border2-dark);
    --border3: var(--border3-dark);
}

body {
    background-color: var(--bkg1);
    width: 100vw;
    height: 100vh;
    line-height: 1.6;
    overflow: hidden;
    transition: background-color ease 0.4s;
}

body.stop-transitions * {
    transition: none !important;
  }

svg path {
    pointer-events: none;
}

nav {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    height: clamp(40px, 6vh, 55px);
    background-color: var(--bkg2);
    padding: 0 31px;
    z-index: 3;
    border-bottom: 2px solid var(--border1);
    transition: background-color ease 0.4s, border ease 0.4s;
}

#pageTitle {
    cursor: pointer;
    display: flex;
    align-items: center;
}

#pageTitle>* {
    pointer-events: none;
}

.logo {
    stroke: var(--blue1);
    width: 28px;
    height: 28px;
    stroke-width: 44px;
}

#pageTitle p {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text1)
}

#searchAddContainer {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


#searchContainer {
    position: relative;
    background-color: var(--search);
    height: clamp(30px, 4vh, 35px);
    padding-left: 10px;
    border-radius: 5px;
    margin-right: 10px;

    transition: background-color ease 0.4s;
    
}

#searchContainer.selected {
    background-color: var(--bkg2);
    box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.13);
}

#searchContainer.selected ion-icon{
    color: var(--blue1);
}


#searchContainer.selected #searchBar{
    background-color: var(--bkg2);
}


#searchItemsContainer {
    display: flex;

    align-items: center;
}

#searchIcon {
    width: 25px;
    height: 25px;
    stroke: var(--text2);
}

#searchBar {
    width: 17vw;
    min-width: 225px;
    height: clamp(30px, 4vh, 35px);
    border: none;
    padding-left: 8px;
    margin-right:10px;
    outline-width: 0;
    background-color: var(--search);
    transition: background-color ease 0.4s;

}

#searchBar::placeholder {
    color: var(--text3);
}

#searchResultsContainer {
    position: absolute;
    height: max-content;
    max-height: 300px;      
    width: calc(100% - 2px);
    margin-top: 5px;
    font-weight: 400;
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.17);
    border-radius: 5px;
    background-color: white;
    transform: translateX(-10px);
    transition: all 0.2s ease-in-out;
    z-index: 2;
    overflow-Y: scroll;
}

#searchResultsContainer::-webkit-scrollbar {
    width: 0.4rem;
}
   
#searchResultsContainer::-webkit-scrollbar-track {
    background-color: var(--bkg2);
}
   
#searchResultsContainer::-webkit-scrollbar-thumb {
    background-color: #d4d4d8;
    border-radius: 50px;
}

#searchResultsContainer .hidden {
    opacity: 0;
}

.searchResultItem {
    position: relative;
    cursor: pointer;
    padding: 5px 32px;
    border: 1.5px solid white;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}

.searchResultItem .hidden {
    pointer-events: none;
    opacity: 0;
}

.searchResultItem:hover {
    background-color: #eff2fa;
}

.searchResultItem:hover .searchResultArrow  {
    opacity: 1;
}

.searchResultCircle{
    pointer-events: none;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-75%);
    transition: opacity 0.2s ease-in-out;
}


.searchResultName {
    pointer-events: none;
    font-size: 0.9rem;
}

.searchResultDescription {
    pointer-events: none;
    font-size: 0.8rem;
    color: var(--text2);
}

.searchResultArrow {
    pointer-events: none;
    opacity: 0;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 0.2s ease-in-out;
}

#addButtonContainer {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bkg3);
    border-radius: 5px;
    height: clamp(30px, 4vh, 35px);
    aspect-ratio: 1/1;
    transition: background-color ease 0.4s;
}


#addButtonContainer #addButton {
    stroke: var(--text2);
    transition: stroke ease 0.2s;
}


#addButtonContainer:hover #addButton {
    stroke: var(--blue1);
}

#darkModeContainer {
    cursor: pointer;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background-color: var(--bkg3);
    border-radius: 5px;
    width: 35px;
    height: 35px;
    margin: 0 10px;
    transition: background-color ease 0.4s;
}

#darkModeContainer svg {
    stroke: var(--text2);
    transition: stroke 0.2s ease;
}

#darkModeContainer:hover svg {
    stroke: var(--blue1);
}



#profileContainer {
    cursor: pointer;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background-color: var(--bkg3);
    border-radius: 5px;
    width: 35px;
    height: 35px;
    transition: background-color ease 0.4s;
    margin-right: 10px;
}

#profileContainer svg {
    fill: var(--text2);
    stroke-width: 40px;
    transition: fill 0.2s ease;
}

#profileContainer:hover svg {
    fill: var(--blue1);
}

#sidebarContentContainer {
    display: flex;
    position: fixed;
    height: 100vh;
    width: 100vw;
}

#contentContainer {
    position: relative;
    left: 0;
    top:0;
    padding-top: clamp(10px, 5vh, 45px);
    height: 100vh;
    width: 88vw;
    display: flex;
    overflow-y: scroll;
    overflow-x: hidden;
}

#contentContainer::-webkit-scrollbar {
    width: 10px;
}
   
#contentContainer::-webkit-scrollbar-track {
    background-color: var(--bkg2);
}
   
#contentContainer::-webkit-scrollbar-thumb {
    background-color: var(--scroll);
    border-radius: 5px;
    animation: fadeInScrollBar 0.3s ease-in-out;
}

#sidebar {
    position: sticky;
    font-size: clamp(13px, 3vw, 16px);
    height: 100vh;
    width: 12vw;
    /*min-width: max-content;*/
    padding: clamp(10px, 5vh, 45px) 10px 0px clamp(10px, 1vw, 20px);
    color: var(--text2);
    z-index: 2;
    overflow-x: visible;
    white-space: nowrap;
}


#sidebar svg {
    margin: 0 1rem 0 15px;
    stroke: var(--text2);
}

#sidebarHome {
    margin-top: clamp(40px, 6vh, 55px);
}

#sidebarHome ion-icon {
    pointer-events: none;
}

#sidebarShortcuts {
    transition: all ease-in-out 0.2s;
}

#sidebarShortcuts.close {
    opacity: 0;
    pointer-events: none;
}

#sidebarShortcuts ion-icon {
    pointer-events: none;
}

#sidebarShortcutsToday svg {
    pointer-events: none;
    margin-left: 15px;
}

#sidebarShortcutsWeek p {
    width: 0;
    margin-right: 0;
}

.todayIconNumber {
    font-weight: 600;
}


.sidebarTabsContainer {
    margin-top: 0.25rem;
}

.sidebarTab {
    cursor:pointer;
    display: flex;
    align-items: center;
    width: 100%;
    border: none;
    padding: 8px 0 8px 0;
    background-color: var(--bkg1);
    transform: translateX(-1px);
    border-radius: 5px;
    transition: background-color 0.4s ease;
}

.sidebarTab:hover {
    color: var(--text1);
}

.sidebarTab.viewing {
    color: var(--text1);
    background-color: var(--bkg3);

}

.sidebarTab p {
    pointer-events: none;
    transition: 0.3s ease;
}

.sidebarTab.viewing p{
    font-weight: 600;
}

.sidebarTab.viewing:hover::after {
    opacity: 0;
}

.sidebarTab.viewing ion-icon {
    color: var(--blue1)
}

.sidebarArrow {
    color: var(--text2);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.sidebarArrow:hover {
    color: var(--text1);
}


.sidebarArrow.close {
    transform: rotate(-90deg);
}

.sidebarCount {
    position: fixed;
    font-weight: 400;
    font-size: clamp(10px, 1vw, 13px);
    right: 10px;
}

.sidebarTab.viewing .sidebarCount {
    color: var(--text2);
}

.sidebarTitle {
    display: flex;
    align-items: center;
    font-weight: 700;
    margin-top: 20px;
    color: var(--text1);
    transform: translateX(-1px);
    transition: background-color ease 0.4s;
}


/* TASKS CONTAINER */

.tasksContainer {
    height: max-content;
    width: 25vw;
    padding-top: clamp(40px, 6vh, 55px);
    padding-bottom: 25px;
}

.tasksTitle {
    width: auto;
    font-size: clamp(20px, 1.6vw, 30px);
    font-weight: 700;
    margin-bottom: 15px;
    white-space: nowrap;
    color: var(--text1);
    transition: color ease 0.4s;

}

@keyframes tasksContainerShiftLeft {
    0% {transform:translateX(30%)}
    50% {transform: translateX(-30%)}
}


/* SUB-GROUP */

.subGroup {
    position: relative;
}

.subGroup.empty .subGroupTitle::after {
    font-weight: 500;
    content: '-No tasks-';
    width: max-content;
    position: absolute;
    left: 15px;
    transform: translate(15px, 45px);
    animation: emptySubGroupFadeIn 0.1s ease-in-out;
}

@keyframes emptySubGroupFadeIn {
    0% { opacity: 0 }
    100% { opacity: 1 } 
}


.subGroupTitle {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: 29px;
    width: max-content;
    padding: 0px 12px;
    font-weight: 500;
    font-size: clamp(13px, 1vw, 17px);
    color: #7b8593cf;
    border-radius: 5px;
    border: 2px solid var(--border3);
    background-color: var(--bkg5);
    margin-top: 25px;
    margin-bottom: 15px;
    transition: background-color ease 0.4s, border ease 0.4s;
}

.subGroupTitle.overdue {
    color: #f07070;
    background-color: #ffdbdb;
}

/* TASK CONTAINER */

.taskContainer {
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    display: grid;
    height: max-content;
    width: max(100%, 225px);
    grid-template: auto auto/40px auto 40px;
    border-radius: 5px;
    backdrop-filter: blur(1px);
    border: 2px solid #ffffff00;
}

.taskContainer::after {
    z-index: -1;
    content: '';
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    position: absolute;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 0.5px var(--shadow1);
    opacity: 0;
    transform: translate(-2px,-2px);
    transition: opacity ease-in-out 0.2s;
}

.taskContainer:hover::after {
    opacity: 1;
}

.taskContainer.dragging {
    pointer-events: none;
    border-color: var(--blue1);
    background-color: var(--task-drag);
}

.taskContainer.viewing {
    border-color: var(--blue1);
}

.taskContainer.viewing::after {
    opacity: 1;
    box-shadow: 0px 1px 10px 4px var(--shadow3);
}

.completed div{
    color: var(--text3);
}

.checkContainer {
    position: relative;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    padding: 5px;
    transition: all ease-in-out 0.2s;
    border-radius: 50px;
    width: 17px;
    height: 17px;
    background-color: var(--bkg1);
    overflow: visible;
}

.checkContainer svg {
    position: absolute;
    display: flex;
    align-self: center;
    justify-self: center;
    width: clamp(15px, 1.5vw, 20px);
    transform: translate(-6.5px,-6.5px);
    stroke: var(--check-circle)
}

.circle {
    stroke: var(--circle);
}

.checkCircleVariant {
    fill: var(--circle-variant);
    transition: fill ease 0.4s;
}

.checkSvgVariant {
    stroke: var(--check-circle);
    animation: check 0.2s ease forwards;
}

@keyframes check {
    100% {
        stroke: var(--check-circle);
    }
}

.nameContainer {
    pointer-events: none;
    display: flex;
    align-items: center;
    margin: 8px 5px 8px 0;
    height: 14px;
    white-space: nowrap;
    font-weight: 500;
    font-size: clamp(12px, 1.2vw, 17px);
    color: var(--text1);
    background-image: linear-gradient(to bottom,
        #00000000 50%,
        var(--text3) 50%, 
        var(--text3) 60%,
        #00000000 60%
    );
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.4s ease, color 0.3s ease;
}

.taskContainer.completed .nameContainer {
    background-size: 100% 100%;
}

.deleteContainer {
    position: relative;
    display: flex;
    align-self: center;
    justify-self: center;
    width: clamp(14px, 1.5vw, 17px);
    height: clamp(14px, 1.5vw, 17px);
    background-color: var(--bkg3); 
    border-radius: 50px;
    opacity: 0;
    align-items: center;
    justify-content: center;
    transition: opacity ease-in-out 0.3s, background-color ease-in-out 0.2s;
}

.deleteContainer:hover {
    background-color: #e2e4ea; 
}

.deleteContainer svg {
    width: clamp(10px, 1.1vw, 20px);
}

.taskContainer.dragging .deleteContainer{
    opacity: 1;
    transition: none;
}

.taskContainer.completed .deleteContainer {
    opacity: 1;
}

.taskContainer:hover .deleteContainer{
    opacity: 1;
}

.descriptionContainer {
    pointer-events: none;
    grid-column-start: 2;
    width: auto;
    height: max-content;
    font-weight: 400;
    font-size: clamp(10px, 1.1vw, 16px);
    padding-bottom: 2.5px;
    color: var(--text2);
    white-space: nowrap;
    overflow-X: hidden;
    transition: color 0.3s ease-in-out;
}


/* TASK VIEW */

.taskViewContainer {
    position: fixed;
    top: 200px;
    height: max(20vw,320px);
    width: calc(22vw);
    min-width: 300px;
    font-size: clamp(12px, 1vw, 16px);
    border-radius: 10px;
    box-shadow: -1px 5px 15px 0px var(--shadow2);
    border: 2px solid var(--border2);
    background-color: var(--bkg4);
    transition: background-color ease 0.4s, border ease 0.4s;
}

.taskViewCheckContainer {
    position: absolute;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    padding: 0;
    transition: all ease-in-out 0.2s;
    border-radius: 50px;
    width: 25px;
    height: 25px;
    background-color: var(--bkg1);
    overflow: visible;
}

@keyframes slideOutTaskView {
    100% {
        transform: translateX(0);
        opacity: 0;
    }
}



.taskViewCheckContainer svg {
    cursor: pointer;
    transition: all ease-in-out 0.1s;
}

.taskViewNameContainer {
    line-height: 30px;
    display: flex;
    align-items: center;
    background-size: 0% 100%;
    padding: 10px 0 0 33px;
    color: var(--text1);
    border-bottom: 2px solid var(--border2);
    transition: border ease 0.4s;

}

.taskViewNameContainer svg {
    display: flex;
    align-items: center;
}

.taskViewName {
    display: flex;
    align-items: center;
    font-size: clamp(17px, 1.4vw, 24px);
    font-weight: 500;
    width: max-content;
    height: 20px;
    margin: 12px 25px 12px 10px;
    border-top: 5px;
    background-image: linear-gradient(to bottom,
        #00000000 50%,
        var(--text3) 50%, 
        var(--text3) 60%,
        #00000000 60%
    );
    background-size: 0 100%;
    background-repeat: no-repeat;
    white-space: nowrap;
    transition: background-size 0.4s ease, color 0.4s ease, background-color 0.4s ease-in-out;
}

.taskViewContainer.completed .taskViewName {
    background-size: 100% 100%;
}


.taskViewDescriptionContainer {
    font-weight: 600;
    margin-top: clamp(0px,10vh,20px);
    color: var(--text2);
    margin-left: 45px;
}

.taskViewDescription {
    display: flex;
    align-items: center;
    font-weight: 400;
    color: var(--text2);
    margin-top: 5px;
    height: 30px;
    white-space: normal;
}

.taskViewDueDateContainer {
    font-weight: 600;
    margin-top: 20px;
    color: var(--text2);
    margin-left: 45px;
    fill: var(--text2);
}

.taskViewDueDate {
    display: flex;
    align-items: center;
    font-weight: 400;
    color: var(--text2);
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden; text-overflow: ellipsis;
}

.taskViewDueDate svg {
    padding: 0 5px 0 2px;
}

.taskViewListContainer {
    font-weight: 600;
    margin-top: 20px;
    color: var(--text2);
    margin-left: 45px;
    fill: var(--text2);
}

.taskViewList {
    display: flex;
    align-items: center;
    font-weight: 400;
    width: max-content;
    color: var(--text2);
    margin-top: 5px;
}

.taskViewList .dot {
    margin: 0 10px 0 0;
}

/* TASK FORM */

#taskFormContainer {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 3;
}

#taskForm {
    background-color: var(--bkg4);
    min-width: 450px;
    width: max-content;
    height: max-content;
    border-radius: 10px;
    border: 1.5px solid var(--border2);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    padding: 15px 15px 25px 15px;
}



#taskForm input, textarea{
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 5px;
    border: none;
    outline-width: 0;
    padding: 5px 0 5px 5px;
    background-color: var(--bkg4);
}

#inputTaskName {
    font-size: 1.5rem;
    border-radius: 5px;
    font-weight: 700;
    color: var(--text1);
    transition: background-color ease 0.4s;
}

#inputTaskName:hover {
    background-color: var(--bkg3);
}

#inputTaskName::placeholder {
    color: #7b7f8659;
}

#inputTaskDescription {
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
    height: max-content;
    border-radius: 5px;
    resize: none;
    padding: 5px;
    border: none;
    outline-width: 0;
    color: var(--text1);
    transition: background-color ease 0.4s;
}

#inputTaskDescription::placeholder {
    color: #7b7f8659;
    font-weight: 700;
}

#inputTaskDescription:hover {
    background-color: var(--bkg3);
    
}

#inputDueDateContainer {
    display: flex;
    font-size: 0.9rem;
    align-items: center;
}

.inputDueDate {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 10px;
    color: var(--text2);
    border: none;
    border-radius: 5px;
    transition: all ease 0.4s;
}

.selected {
    background-color: var(--selection)
}
.inputDueDate ion-icon {
    color: var(--text1);
    font-size: 1.25rem;
    margin-right: 5px;
}

.inputDueDate:hover {
    box-shadow: 0px 2px 6px 0px var(--shadow1);
}

.inputDueDate.selected:hover {
    box-shadow: none;
}

#inputCalendarContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 120px;
    margin: 5px;
    border-radius: 5px;
}


#inputCalendar {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
    color: var(--text1);
    border-radius: 5px;
}

#inputCalendar ion-icon {
    pointer-events: none;
    color: var(--text1);
    font-size: 1.25rem;
    margin-right: 5px;
}

#dateSelection {
    pointer-events: none;
}

#inputCalendarOptions {
    position: absolute;
    margin-top: 55px;
    padding: 10px 10px 0 10px;
    width: 200%;
    aspect-ratio: 1 / 0.8;
    font-weight: 400;
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.17);
    border-radius: 5px;
    border: 1.5px solid var(--border2);
    background-color: var(--bkg4);
    transform: translateX(-25%);
}

#inputCalendarContainer:hover {
    box-shadow: 0px 2px 6px 0px var(--shadow1);
}

#inputCalendarContainer.selected {
    box-shadow: none;
    background-color: var(--selection)
}

#inputCalendarOptions.selected {
    opacity: 1;
    pointer-events: all;
}

#inputCalendarOptions:before {
    content:'';
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-bottom: solid 6px #d6d6d6;
    border-left: solid 7px transparent;
    border-right: solid 7px transparent;
}

#inputCalendarOptions:after {
    content:'';
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-bottom: solid 5px var(--bkg1);
    border-left: solid 6px transparent;
    border-right: solid 6px transparent;
}

#calendarHeader {
    display: flex;
    justify-content: space-between;
    padding: 0 5px 0px 10px;
}

#calendarMonth {
    font-weight: 600;
    color: var(--text1);
}

#calendarArrowContainer {
    display: flex;
    align-items: center;
}

#calendarArrowContainer ion-icon {
    cursor: pointer;
    font-size: 1.1rem;
    color: var(--text2);
    transition: color 0.4s ease;
}

#calendarArrowContainer ion-icon:hover {
    color: var(--text1);
}

#daysOfWeek {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

#daysOfWeek div {
    color: var(--text2);
    font-size: 0.8rem;
    overflow: hidden;
}

#calendar {
    display: grid;
    grid-template: repeat(6,auto) / repeat(7,1fr);
    width: 100%;
    height: 100%;
}

.calendarBlank {
    pointer-events: none;
    width: 100%;
    height: 100%;
    color: rgba(0, 0, 0, 0);
}


.calendarDayPast {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--text3);
}

.calendarDay {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 0.8rem;
    font-weight: 400;
    transition: 0.3s ease;
    border-radius: 5px;
    color: var(--text1)
}

.calendarDay:hover {
    background-color: var(--bkg3);
    color: var(--blue1);
}

#inputListContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 110px;
    margin: 5px;
    border-radius: 5px;
    transition: all 0.4s ease;
}

#inputListContainer.selected #inputListOptions {
    pointer-events: all;
    opacity: 1;
}

#inputListContainer.selected #inputList {
    box-shadow: none;
}

#inputList {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
    color: var(--text1);
    border-radius: 5px;
    transition: all ease 0.4s;
}

#inputList .dot {
    pointer-events: none;
    margin: 0 5px 0 0 ;
}

#listSelectionName {
    pointer-events: none;
}

#inputList:hover {
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.17);
}

#inputListTextArea::placeholder {
    color: var(--text2);
}

#inputListTextArea {
    border-bottom: 1.5px solid var(--border2) !important;
    padding-left: 5px;
    color: var(--text1);
    font-weight: 400;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#createListButton {
    position: absolute;
    cursor: pointer;
    padding-left: 10px;
    width: calc(100% - 10px);
    z-index: -1;
    overflow-x: hidden;
    white-space: nowrap;
    color: var(--text1);
}

#createListButton:hover {
    background-color: var(--bkg4);
}

#inputListOptions {
    position: absolute;
    margin-top: 55px;
    height: max-content;
    min-height: 60px;
    width: 150%;
    font-weight: 400;
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.17);
    border-radius: 5px;
    border: 1.5px solid var(--border2);
    background-color: var(--bkg4);
    transform: translateX(-14%);
}

#inputListOptions:before {
    content:'';
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-bottom: solid 6.5px var(--border2);
    border-left: solid 7.5px transparent;
    border-right: solid 7.5px transparent;
}

#inputListOptions:after {
    content:'';
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-bottom: solid 5px var(--bkg4);
    border-left: solid 6px transparent;
    border-right: solid 6px transparent;
}



.inputListItem {
    cursor: pointer;
    padding-left: 10px;
    color: var(--text1);
    background-color: var(--bkg2);
}

.inputListItem:hover {
    background-color: var(--bkg5);
}

.inputListItem.selected {
    background-color: var(--bkg5);
}


#taskFormAddButton {
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 500;
    background-color: var(--blue1);
    color: var(--text1);
    padding: 8px 10px;
    margin-left: 5px;
    margin-top: 20px;
    transition: background-color ease 0.4s;
}

#taskFormAddButton:hover {
    background-color: #3877ff;
}

#taskFormAddButton ion-icon {
    font-size: 1.2rem;
    margin-left: 5px;
    color: white;
    transition: transform ease 0.4s;
}

#taskFormAddButton:hover ion-icon {
    transform: translateX(2.5px);
}

#sidebarListsTitle {
    height: auto;
    width: auto;
}

#sidebarLists {
    position: relative;
    z-index: 1;
    width: auto;
    background-color: var(--bkg2);
    transition: ease 0.4s;
}


#sidebarLists.close {
    opacity: 0;
}

.sidebarListContainer {
    display: flex;
    align-items: center;
}


.dot {
    width: 12px;
    height: 12px;
    margin: 0 22px;
    background-color: var(--blue1);
    border-radius: 50px;
}


#sidebarListsClose {
    position: relative;
    z-index: 2;
    width: auto;
    height: 0;
    background-color: var(--bkg2);
}






/* LOADING SCREEN */

#loadingScreen {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: white;
    z-index: 3;
    transition: 0.5s all ease-in-out;
}

#loadingScreenLogoContainer {
    display: flex;
    align-items: center;
    width: max-content;
}

#loadingScreenLogoContainer svg {
    width: 4rem;
    height: 4rem;
}

#loadingScreen p {
    font-family: 'Helvetica';
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--text1);
}

#loadingCircle {
    border: 4px solid #3881ff2f;
    border-radius: 50%;
    margin-top: 15px;
    width: 1.5rem;
    height: 1.5rem;
    border-top-color: var(--blue1);
    animation: spin infinite ease-in-out 1.5s;    
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}